###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Ll]ogs/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

[Ll]ogs/ApiUpdaterCheck.txt
[Ll]ogs/AssetImportWorker0.log
[Ll]ogs/AssetImportWorker0-prev.log
[Ll]ogs/Packages-Update.log
[Ll]ogs/shadercompiler-AssetImportWorker0.log
[Ll]ogs/shadercompiler-UnityShaderCompiler.exe0.log

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
*.log

.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

